.container-home {
  background-color: var(--background);
  width: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: "Audiowide", sans-serif;
}
.container-home h1 {
  color: var(--details1);
  font-size: 3rem;
}
.container-home h2 {
  color: var(--text-color);
}
.container-home .icons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.container-home .icons a {
  font-size: 2.5rem;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.container-home .icons a:hover {
  font-size: 2.9rem;
  color: var(--details2);
}

.container-demoday {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  justify-items: center;
  align-items: center;
}
.img-demoday {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.img-demoday img {
  z-index: 1;
  height: 30rem;
  width: auto;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.text-demoday {
  text-align: justify;
  padding: 0 1rem;
  color: var(--text-color);
}
.text-demoday h2 span {
  color: var(--demoday);
}
.enfeite {
  position: absolute;
  width: 15rem;
  height: 3rem;
  left: 0;
  transform: translateY(-700%);
}

.enfeite .line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.2rem;
  background-color: var(--text-color);
  z-index: 1;
}

.enfeite .rectangle-border {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-90%);
  width: 5rem;
  height: 2rem;
  border: solid var(--details2) 0.2rem;
  opacity: 0.7;
  z-index: 0;
}

.enfeite .circle {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--demoday);
  z-index: 2;
}

.img-demoday .rectangle-border {
  position: absolute;
  width: 5rem;
  height: 10rem;
  border: solid var(--details2) 0.2rem;
  opacity: 0.7;
  right: 0;
  transform: translateY(130%) translateX(-50%);
  z-index: 0;
}
.main-project img {
  width: 24rem;
  height: 14rem;
  border-radius: 0.5rem;
}
.main-project {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 24rem;
  text-align: justify;
  color: var(--text-color);
}
.main-project h3 {
  font-family: "Audiowide", sans-serif;
}
.main-project button {
  border: none;
  border-radius: 0.5rem;
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--background);
  font-weight: 500;
  box-shadow: 0.5rem 0.5rem 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in;
}
.main-project button:hover {
  background-color: #000;
  color: var(--text-color);
  box-shadow: 0rem 0rem 1rem 0rem rgba(255, 255, 255, 0.2);
}
.main-project a {
  text-decoration: none;
}
.main-project div {
  gap: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-projects h3 {
  text-align: left;
}
.main-projects {
  width: 100%;
}
.main-projects h2 {
  text-align: center;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}
.swiper-slide:first-child {
  margin-left: 3rem;
}
.contact {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.3rem;
  font-family: "Audiowide", sans-serif;
}
.contact h2 {
  text-align: center;
}
.container-contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.container-contact img {
  height: 20rem;
  width: auto;
}
.container-contact .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-items: center;
  align-items: start;
}
.container-contact .links a:first-child {
  font-size: 3.2rem;
}
.container-contact .links a:nth-child(2) {
  font-size: 2.5rem;
}
.container-contact .links a:last-child {
  font-size: 2.8rem;
}
.container-contact .links a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.4s ease-in-out;
}
.container-contact .links a:hover {
  scale: 1.1;
  color: var(--details1);
}
footer{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: end;
}
footer p{
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 0.9rem;
}
footer .towers{
  display: flex;
  align-items: end;
}
footer .towers .rectangle-border{
  width: 4rem;
  border: 0.2rem solid var(--details2);
}
footer .towers:first-child .rectangle-border:first-child{
  height: 8rem;
}
footer .towers:first-child .rectangle-border:last-child{
  height: 6rem;
  transform: translateX(-50%);
}
footer .towers:last-child .rectangle-border:last-child{
  height: 8rem;
}
footer .towers:last-child .rectangle-border:first-child{
  height: 6rem;
  transform: translateX(50%);
}
@media (max-width: 1250px) {
  .img-demoday img {
    height: auto;
    width: 40rem;
  }
  .enfeite {
    transform: translateY(-800%);
  }
}
@media (max-width: 1068px) {
  .img-demoday img {
    width: 30rem;
  }
  .container-demoday {
    grid-template-columns: 2fr 1fr;
  }
  .container-contact .links a:first-child {
    font-size: 3rem;
  }
  .container-contact .links a:nth-child(2) {
    font-size: 2.3rem;
  }
  .container-contact .links a:last-child {
    font-size: 2.5rem;
  }
}
@media (max-width: 915px) {
  .container-demoday {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-demoday img {
    width: 40rem;
  }
  .enfeite {
    display: none;
  }
  .container-contact img {
    height: 15rem;
  }
  .container-contact .links a:first-child {
    font-size: 2.6rem;
  }
  .container-contact .links a:nth-child(2) {
    font-size: 1.9rem;
  }
  .container-contact .links a:last-child {
    font-size: 2.2rem;
  }
}
@media (max-width: 670px) {
  .img-demoday img {
    width: 30rem;
  }
   .container-contact img{
    display: none;
   }
   .main-projects{
    margin-top: 2.5rem;
   }
}
@media (max-width: 500px) {
  .img-demoday img {
    width: 22rem;
  }
  .swiper-slide:first-child {
    margin-left: 1rem;
  }
  .main-project img {
    width: 20rem;
    height: 11rem;
  }
  .main-project {
    margin-left: 1rem;
    width: 20rem;
  }
   .container-contact .links a:first-child {
    font-size: 2.3rem;
  }
  .container-contact .links a:nth-child(2) {
    font-size: 1.5rem;
  }
  .container-contact .links a:last-child {
    font-size: 2rem;
  }
  footer .towers:first-child .rectangle-border:first-child{
  height: 6rem;
}
footer .towers:first-child .rectangle-border:last-child{
  height: 4rem;
  transform: translateX(-50%);
}
footer .towers:last-child .rectangle-border:last-child{
  height: 6rem;
}
footer .towers:last-child .rectangle-border:first-child{
  height: 4rem;
  transform: translateX(50%);
}
footer .towers .rectangle-border{
  width: 3rem;
}
}
@media (width <= 380px) {
  .img-demoday img {
    width: 18rem;
  }
  .container-home h1 {
    font-size: 2.3rem;
  }
}
